<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" type="css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
</head>

<body>
<script>

$(function() {
    $("#address").autocomplete({
        source: function(request, response) {
            var getData = request.term;
            $.ajax({
                url: "{{ request.host_url }}geocode/?q=" + getData,
                type: "GET",
                dataType: "JSON",
                success: function(data) {
                    response($.map(data, function(item) {
                        return {
                            label: item.full_address + " " + item.coordinates,
                            id: item.coordinates
                        }
                    }));
                },
            });
        },
        minLength: 2
    })
});


</script>


<div class="demo">
    <h1>Pollicino autocomplete demo</h1>
    <br>

    <div class="ui-widget">
        <label for="address">Start to type a street: </label>
        <input id="address">
    </div>

</body>
</html>
