<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" type="css">

    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
</head>

<body>

<div class="demo">
    <h1>Pollicino autocomplete demo</h1>
    <br>

    <div class="ui-widget">
        <label for="address">Start to type a street: </label>
        <input id="address">
    </div>
    <div class="ui-widget" label="info" id="info" style="margin-bottom: 25px"></div>
    <div id="map" style="height: 400px;"></div>

</body>
</html>

<script>

var map = L.map('map')

var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
var osm = new L.TileLayer(osmUrl, {minZoom: 8, maxZoom: 20, attribution: osmAttrib});

map.setView(new L.LatLng(52.5170365, 13.3888599), 9);
map.addLayer(osm);


$(function() {
    $("#address").autocomplete({
        source: function(request, response) {
            var getData = request.term;
            $.ajax({
                url: "{{ request.host_url }}geocode/?q=" + getData,
                type: "GET",
                dataType: "JSON",
                success: function(data) {
                    response($.map(data, function(item) {
                        return {
                            label: item.full_address,
                            id: item.coordinates
                        }
                    }));
                },
            });
        },
        select: function(event, ui) {
            map.setView(new L.LatLng(ui.item.id[1], ui.item.id[0]), 19);
            L.marker([ui.item.id[1], ui.item.id[0]]).addTo(map)
            $("#info").text(ui.item.label + " " + ui.item.id[1] + " " + ui.item.id[0]);
            return false;
        },
        delay: 0,
        minLength: 2
    })
});

</script>
